$main-color: #00E676;
$main-color-fg: black;

.fade {
    &-enter {
        opacity: 0;
        transform: translateX(8px);
        position: absolute;
        &-active {
            opacity: 1;
            transform: translateX(0px);
            transition: opacity 400ms 200ms, transform 200ms 200ms;
        }
    }

    &-exit {
        opacity: 1;
        transform: translateX(0px);
        position: absolute;
        &-active {
            opacity: 0;
            transform: translateX(-8px);
            transition: opacity 100ms, transform 200ms;
        }
    }
}

body {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
}

header {
    font-family: 'PT Serif', serif;
    background-color: $main-color;
    color: $main-color-fg;
    padding: 8px;
    box-shadow: 0px 4px 8px #00000040;

    & a {
        color: $main-color-fg;
    }
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0px 0px 8px 0px;
}

.page {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

main {
    flex-grow: 1;
    padding: 8px;
    display: flex;
    flex-flow: row;
}
