@use 'sass:color';

$main-color: #00E676;
$main-color-fg: black;

.fade {
    &-enter {
        opacity: 0;
        transform: translateX(8px);
        position: absolute;
        &-active {
            opacity: 1;
            transform: translateX(0px);
            transition: opacity 200ms, transform 200ms;
        }
    }

    &-exit {
        opacity: 1;
        transform: translateX(0px);
        position: absolute;
        &-active {
            opacity: 0;
            transform: translateX(-8px);
            transition: opacity 200ms, transform 200ms;
        }
    }
}

body {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0 0 0.25em 0;
}

h1, h2, h3, h4, h5, h6, header {
    font-family: 'PT Serif', serif;
}

header {
    background-color: $main-color;
    color: $main-color-fg;
    padding: 8px;
    box-shadow: 0px 4px 8px #00000080;

    & a {
        color: $main-color-fg;
    }
}

main {
    padding: 8px;
}

.stuff-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-content: space-between;

    & .link {
        padding: 8px 16px;
        box-shadow: 0px 4px 8px #00000080;
        position: relative;
    
        &:hover {
            background-color: color.scale($main-color, $lightness: 90%);
        }
    
        &:active {
            background-color: color.scale($main-color, $lightness: 70%);
        }

        & a {
            color: black;
            text-decoration: none;
            
            &::after {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
                content: "";
            }
        }
    }
}
